/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.burger {
    font-size: 28px;
    cursor: pointer;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-62%);
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.logo img {
    height: 40px;
    transform: translateX(-90%);
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.sidebar.active {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    z-index: 10;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-links li {
    padding: 16px 24px;
    border-bottom: 1px solid #eee;
}

.sidebar-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar-links a:hover {
    color: #AB8E78;
}

.sidebar-bottom {
    padding: 16px 24px;
    border-top: 1px solid #eee;
}

.language-select-phone {
    background-color: #c7c6aa;
    font-size: 16px;
    border-radius: 10px;
    padding: 6px 12px;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
}

.sidebar-bottom button,
.sidebar-bottom a {
    display: block;
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #AB8E78;
    text-align: left;
    width: 100%;
}

.sidebar-bottom{
    transform: translateY(-50%);
}

/* MEDIA QUERY */
@media (max-width: 480px) {
    .language-select {
        display: none;
    }

    .language-select-phone {
        display: block;
    }

    .title {
        font-size: 20px;
    }

    .logo img {
        height: 35px;
    }
}
