body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    background: url('../assets/blur_bg.png') no-repeat center center/cover;
}

.container {
    flex: 1;
    background-image: url('../assets/popup-bg.png');
    background-size: cover;
    background-position: bottom right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10vh auto 0 auto;
    text-align: center;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#username {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
}

#generateBtn {
    background-color: #B75E17;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px;
    transition: background-color 0.3s;
}

#generateBtn:hover {
    background-color: #F9AE10;
}

#qrContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#white {
    color: white;
    font-weight: bold;
}

#timer {
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    .container {
        width: 70%;
        margin-top: 15vh;
        margin-bottom: 10vh;
        height: auto;
    }
}
