body {
    font-family: Arial, sans-serif;
    background: url('../assets/payment_bg.png') no-repeat center center/cover;
    justify-content: center; /* Centra verticalmente */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%; /* Evita che il contenuto sia troppo largo su schermi grandi */
}

.title {
    font-size: 5rem;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
    color: white;
    width: 90%;
}

.cards {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    overflow: auto;
    margin: 0 auto;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    width: 100%; /* Rende le card larghe quanto il contenitore */
}

#zero-card{
    background-image: url('../assets/Icons/payment-1.png');
    background-size: cover;
    background-position: bottom right; /* <-- centrata orizzontale, attaccata al basso */
}

#first-card{
    background-image: url('../assets/Icons/payment-2.png');
    background-size: cover;
    background-position: bottom right;  /* <-- centrata orizzontale, attaccata al basso */
}

#second-card{
    background-image: url('../assets/Icons/payment-3.png');
    background-size: cover;
    background-position: bottom right;  /* <-- centrata orizzontale, attaccata al basso */
}

#third-card{
    background-image: url('../assets/Icons/payment-4.png');
    background-size: cover;
    background-position: bottom right;  /* <-- centrata orizzontale, attaccata al basso */
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background: #B75E17;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #F9AE10; /* Variante più chiara per l'hover */
}

#zero-card{
    display: none;
}

@media (max-width: 480px) {

    button {
        width: 80%; /* Rende i bottoni larghi quanto il contenitore */
        font-size: 1.1rem;
    }
    .container{
        height: 100vh;
        padding: 0;
    }

    body{
        height: 100vh;
    }

    .title{
        font-size: 1.5rem;
        width: 80%;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .card{
        width: 90%; /* Rende le card larghe quanto il contenitore */
        padding: 15px;
    }

    .cards{
        flex-direction: column;
    }
}