/* Stili di base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../assets/blur_bg.png') no-repeat center center/cover;
}

.container {
    flex: 1;
    width: 90%;
    max-width: 500px;
    margin: 10vh auto 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    width: 95%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #B75E17;
}

#save_button {
    width: 70%;
    padding: 10px;
    background-color: #B75E17;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save_button:hover {
    background-color: #F9AE10;
}

#genere, #countryDropdown {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

.state {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    font-size: 16px;
}

#stato-pass {
    font-weight: bold;
    color: #5D9355;
}

#scadenza {
    font-weight: bold;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #B75E17;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-self: center;
}

/* Stile per la checkbox */
.checkbox-group input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #B75E17;
}

.checkbox-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.img {
    width: 100%;
    text-align: center;
}

#alert {
    display: none;
    color: #E30613;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}