/* Stili di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    background: url('../assets/blur_bg.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60%;
    margin: 0 auto;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.log-msg{
    color: #E30613;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #B75E17;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #B75E17;
    border: none;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #F9AE10;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #B75E17;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        height: 75vh;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 15px;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        transform: translateX(10%);
        justify-content: center;
    }
}