body { 
    text-align: center; 
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif; 
    background: url('../assets/payment_bg.png') no-repeat center/cover;
}

.container {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra orizzontalmente */
    background-color: #f9ae10;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.image {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: solid #B75E17 2px;
    width: 80%;
    color: black;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #B75E17;
}

.button {
    width: 60%;
    padding: 10px;
    background-color: #B75E17;
    border: none;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button_dashboard{
    display: none;
}

#button_tutorial{
    display: none;
}


@media (max-width: 480px) {
    .container {
        width: 90%;
        height: fit-content;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    input {
        font-size: 1rem;
    }
    .button {
        font-size: 1rem;
        margin-top: 10px;
    }
    .image{
        width: 40%;
        margin-bottom: 10px;
        margin-top: 25px;
    }
    
}